<!DOCTYPE html>
<html lang="en">
<head>
  <title>Wine Quality Detection Home Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href=static/style.css>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
  </style>
</head>
<body>

<div class="jumbotron divtop" style="margin-bottom:0">
  <h1>Dashboard</h1>
  <p>Wine is good if it tastes good</p>
</div>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Wine Quality Detection</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="/main">Data</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h2>Graphical Data</h2>
      <div>
        <img src="https://cdn.shopify.com/s/files/1/0021/4247/0208/files/image5_166f7d53-b0df-41a8-a724-d10e2f07a013_large.png?v=1556736384"
        height="300px"
        width="450px">
      </div>
      <p class="parag">Wine production across the world as of 2018</p>
      <h3>Parameters to consider:</h3>
      <ul class="nav nav-pills nav-stacked">
        <li><a href="https://home.binwise.com/blog/is-wine-acidic">Acidity</a></li>
        <li><a href="https://www.masterclass.com/articles/learn-about-alcohol-content-in-wine-highest-to-lowest-abv-wines">Alcohol Level</a></li>
        <li><a href="https://www.virginwines.co.uk/hub/blog/colours-of-wine-explained/">Color</a></li>
      </ul>
      <hr class="hidden-sm hidden-md hidden-lg">
    </div>
    <div class="col-sm-8 classify">
      <h2>Classification</h2>
      <div>
        <img class="imageWine" src="https://www.thespruceeats.com/thmb/Fv9_8yovhCtj_HYhZXIL6jba43E=/960x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/red-wine-is-poured-into-a-glass-from-a-bottle--light-background--1153158143-98320451802c485cb6d7b5437c7fd60a.jpg" 
        height="300px"
        width="450px">
      </div>
      <p  class="parag">Category: Beverage</p>
      <p class="parag">Wines are luxurious beverages and typically made from fermented fruit.<br> Red wine is a type of wine made from dark-colored grape varieties. <br>The actual color of the wine can range from intense violet, typical of young wines, <br>through to brick red for mature wines and brown for older red wines.</p>
      <br>
  </div>
</div>

<div class="jumbotron text-center" style="margin-bottom:0">
  <p>Footer</p>
</div>

</body>
</html>
