<!DOCTYPE html>
<html>
<body>
	<head>
		<link rel="stylesheet" href="../static/register.css">
	</head>
	<form id="register" action="/regis" method="POST">
		<h2>Register</h2>
		<div class="register">
		<p>Please fill in this form to create an account.</p>
		<hr>
		<input type="text" placeholder="Enter Full Name" name="fname" id="fname" required>
		<input type="text" placeholder="Enter Email" name="email" id="email" required>
		<input type="password" placeholder="Enter Password" name="psw" id="psw" required>
		<hr>
		<p style="font-size:14px;">By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
		<button type="submit" class="registerbtn" >Register</button><br><br>
		<p>Already have an account? <a href="/">Sign in</a>.</p>
		</div>
	</form>
	{% with messages = get_flashed_messages() %}
		{% if messages %}
		{% for message in messages %}
		  <h3>{{ message }}</h3>
		{% endfor %}
	
	  {% endif %}
	{% endwith %}
</body>
</html>