<!DOCTYPE html>
<html>
<body>
	<head>
		<link rel="stylesheet" href="register.css">
	</head>
	<form id="register" action="login.php" method="POST">
		<h2>Register</h2>
		<div class="register">
		<p>Please fill in this form to create an account.</p>
		<hr>
		<input type="text" placeholder="Enter Email" name="email" id="email" required>
		<input type="password" placeholder="Enter Password" name="psw" id="psw" required>
		<input type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" required>
		<hr>
		<p style="font-size:14px;">By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
		<button type="submit" class="registerbtn">Register</button><br><br>
		<p>Already have an account? <a href="#">Sign in</a>.</p>
		</div>
	</form>
</body>
</html>